{% extends 'base.html' %}

{% block extrastylesheet %}{{ url_for('static', filename='css/offers.css') }}{% endblock extrastylesheet %}

{% block title %}Offers{% endblock title %}

{% block main %}
  <p>List of collected offers:</p>
{% for offr in offs %}
<article>
  <div class="offer-info">
    <div>
      {{ offr["title"] }}
      <a href={{ offr["detailsurl"] }}> &#8618;</a>
    </div>
  </div>
  <div class="offer-details">
    <div> job level: {{ offr["joblevel"] }}</div>
    <div> salary: {{ offr["monthlysalary"] }}</div>
    <div> job mode: {{ offr["jobmode"] }}</div>
    <div> contract type: {{ offr["contracttype"] }}</div>

  </div>
  <div class="offer-tags">
    {% for tag in offr['tags'] %}
    <div>{{ tag }}</div>
    {% endfor %}
  </div>
  <aside class="timestamp">Posted on {{ offr["posted"] }}</aside>
</article>
{% endfor %}
<div class="pagination-nav">
  {% if curr_subpage > 1 %}
    <span>
      <a href="{{ url_for('pages.offers', subpage=curr_subpage-1) }}">&#x2b9c</a>
    </span>
  {% else %}
    <span>
      <a href="#">&#x2b9c</a>
    </span>
  {% endif %}
  {% for pagenumber in range(1, tot_subpages+1) %}
    {% if pagenumber == curr_subpage %}
      <span>
        <a class="curr-subpage" href="{{ url_for('pages.offers', subpage=pagenumber) }}">{{ pagenumber }}</a>
      </span>
    {% else %}
      <span>
        <a href="{{ url_for('pages.offers', subpage=pagenumber) }}">{{ pagenumber }}</a>
      </span>
    {% endif %}
  {% endfor %}
  {% if curr_subpage < tot_subpages %}
    <span>
      <a href="{{ url_for('pages.offers', subpage=curr_subpage+1) }}">&#x2b9e</a>
    </span>
  {% else %}
    <span>
      <a href="#">&#x2b9e</a>
    </span>
  {% endif %}
</div>
{% endblock main %}
