{% extends 'base.html' %}

{% block extrastylesheet %}{{ url_for('static', filename='css/status.css') }}{% endblock extrastylesheet %}

{% block title %}Status{% endblock title %}

{% block main %}
<p>Backend Status</p>
<article>
  <table class="services">
    <tr><td class="service-name">Selenium</td> <td class="{{ selenium_status }}">{{ selenium_status }}</td></tr>
    <tr><td class="service-name">Database</td> <td class="{{ db_status }}">{{ db_status }}</td></tr>
  </table>
</article>
{% endblock main %}
