<!DOCTYPE html>
<html lang="en">

<head>
  <title>Job Tracker - {% block title %}{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{% block extrastylesheet %}{% endblock extrastylesheet %}">
</head>

<body>
  <aside id="navpanel">
    <header id="logo">
      <img src="{{ url_for('static', filename='job_tracker_logo.svg') }}">
      <span class="txt">Job Tracker</span>
    </header>

    <nav>
      {% include("_navitems.html") %}
    </nav>
  </aside>

  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block main %}{% endblock main %}
  </main>

  <footer>
    {% block footer %}{% endblock footer %}
  </footer>
</body>
</html>
