<a href="{{ url_for('pages.home') }}"  class="{% if request.url_rule.endpoint == 'pages.home' %} current {% endif %}">
  <span class="ico">&#9964;</span>
  <span class="txt">Home</span>
</a>
<a href="/dash_app/" class="{% if request.url_rule.endpoint == '/dash_app/' %} current {% endif %}">
  <span class="ico">&#x1f5e0;</span>
  <span class="txt">Statistics</span>
</a>

<a href="{{ url_for('pages.offers') }}" class="{% if request.url_rule.endpoint == 'pages.offers' %} current {% endif %}">
  <span class="ico">&#x1f5ba;</span>
  <span class="txt">Offers</span>
</a>
<a href="{{ url_for('pages.status') }}" class="{% if request.url_rule.endpoint == 'pages.status' %} current {% endif %}">
  <span class="ico">&#x26a0;</span>
  <span class="txt">Backend status</span>
</a>
